@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  -ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  background-color: #222;
}

.login{
  position: relative;
  top: 50%;
	width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: #fff;
  border-radius: 4px;
}

.legend{
  position: relative;
  width: 100%;
  display: block;
  background: rgb(255, 136, 0);
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.legend::after {
  content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.input{
  position: relative;
  width: 90%;
  margin: 15px auto;
}

.input > span {
  position: absolute;
  display: block;
  color: darken(#EDEDED, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
}

.input > input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#EDEDED, 30%);
}

.input > input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: rgb(255, 136, 0);
}

.submit{
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid rgb(255, 136, 0);
  color: rgb(255, 136, 0);
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}

.submit:hover {
  background: rgb(255, 136, 0);
  color: #fff;
  outline: 0;
}

.submit:focus {
  background: rgb(255, 136, 0);
  color: #fff;
  outline: 0;
}

.feedback{
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
}

.feedback::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.comments {
  margin-top: 10000px;
  width: 90%;
  margin: 0 auto;
}

.comments > p { 
  color: #fff;
}

